# Pandas Tutorial
In this lesson, we learned:

- How to select data from pandas objects using boolean arrays.
- How to assign data using labels and boolean arrays.
- How to create new columns in pandas.
- Many new methods to make data analysis easier in pandas.
- New ways of creating dataframe and series objects.
- Advanced selection techniques.
- Performing more complex analysis.
- Select columns, rows and individual items using their integer location.
- Use pd.read_csv() to read CSV files in pandas.
- Work with integer axis labels.
- How to use pandas methods to produce boolean arrays.
- Use boolean operators to combine boolean comparisons to perform more complex analysis.
- Use index labels to align data.
- Use aggregation to perform advanced analysis using loops

In [1]:
import pandas as pd
import numpy as np

In [7]:
dataset_loc = 'D:/Dataquest/Dataquest 2022 Learning/Datasets/'
f500 = pd.read_csv(dataset_loc + 'f500.csv')
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [8]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
company                     500 non-null object
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB

In [12]:
rank_change = f500['rank']-f500['previous_rank']
rank_change.head()

0    0
1    0
2   -1
3    1
4   -3
dtype: int64

Like **NumPy**, **pandas** supports many descriptive stats methods that can help us answer these questions. Here are a few of the most useful ones (with links to documentation):
- Series.max()    and  DataFrame.max()
- Series.min()    and  DataFrame.min()
- Series.mean()   and  DataFrame.mean()
- Series.median()  and  DataFrame.median()
- Series.mode()   and  DataFrame.mode()
- Series.sum()    and  DataFrame.sum()

**Series.describe()** method. This method tells us how many non-null values are contained in the series, along with the mean, minimum, maximum, and other statistics we'll learn about later in this path.

In [13]:
rank_change.describe()

count    500.000000
mean      28.366000
std      108.602823
min     -226.000000
25%       -8.250000
50%        4.000000
75%       28.250000
max      500.000000
dtype: float64

In [14]:
# If we use describe() on a column that contains non-numeric values, we get some different statistics. Let's look at an example
f500['country'].describe()

count     500
unique     34
top       USA
freq      132
Name: country, dtype: object

In [18]:
f500['country'].value_counts().loc['China']

109

In [22]:
# Use Series.value_counts() and Series.loc to return the number of companies with a value of 0 
# in the previous_rank column in the f500 dataframe. Assign the results to zero_previous_rank.
prev_rank = f500['previous_rank']
prev_rank.value_counts().loc[0]

33

Unlike their series counterparts, dataframe methods require an axis parameter so we know which axis to calculate across. While you can use integers to refer to the first and second axis, pandas dataframe methods also accept the strings **"index"** and **"columns"** for the axis parameter:
![pandas-pic-1](https://raw.githubusercontent.com/tongNJ/Dataquest-Online-Courses-2022/main/Pictures/pandas-pic-1.PNG)

In [28]:
# max_f500 = f500.select_dtypes(include=['int64','float64']).max()
max_f500 = f500.max(numeric_only=True)
max_f500

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

Next, let's use boolean indexing to identify companies belonging to the "Motor Vehicles and Parts" industry in our Fortune 500 dataset.
1. Create a boolean series, **motor_bool**, that compares whether the values in the **industry** column from the **f500** dataframe are equal to **"Motor Vehicles and Parts"**.
2. Use the **motor_bool** boolean series to index the **country** column. Assign the result to **motor_countries**.

In [31]:
motor_bool = f500['industry']=='Motor Vehicles and Parts'
motor_countries = f500.loc[motor_bool,'country']
print(motor_countries.head())
print(motor_countries.shape)

4       Japan
5     Germany
16    Germany
17        USA
20        USA
Name: country, dtype: object
(34,)

In [36]:
prev_rank_before = f500["previous_rank"].value_counts(dropna=False).head()
prev_rank_before

0      33
159     1
147     1
148     1
149     1
Name: previous_rank, dtype: int64

In [37]:
f500.loc[f500['previous_rank']==0,'previous_rank'] = np.nan
prev_rank_after = f500['previous_rank'].value_counts(dropna=False).head()
prev_rank_after

NaN      33
471.0     1
234.0     1
125.0     1
166.0     1
Name: previous_rank, dtype: int64

In [38]:
f500['rank_change'] = f500['previous_rank'] - f500['rank']
rank_change_desc = f500['rank_change'].describe()
rank_change_desc

count    467.000000
mean      -3.533191
std       44.293603
min     -199.000000
25%      -21.000000
50%       -2.000000
75%       10.000000
max      226.000000
Name: rank_change, dtype: float64

In [45]:
# Create a series, industry_usa, containing counts of the two most common values in the industry 
# column for companies headquartered in the USA.
industry_usa = f500.loc[f500['country']=='USA','industry'].value_counts().head(2)
industry_usa

Banks: Commercial and Savings               8
Insurance: Property and Casualty (Stock)    7
Name: industry, dtype: int64

In [47]:
# Create a series, sector_china, containing counts of the three most common values in the sector column f
# or companies headquartered in the China.
sector_china = f500.loc[f500['country']=='China','sector'].value_counts().head(3)
sector_china

Financials     25
Energy         22
Wholesalers     9
Name: sector, dtype: int64

The table below summarizes how we can use **DataFrame.iloc[]** and **Series.iloc[]** to select by integer position:
![pandas-pic-2](https://raw.githubusercontent.com/tongNJ/Dataquest-Online-Courses-2022/main/Pictures/pandas-pic-2.PNG)

There are also a number of pandas methods that return boolean masks useful for exploring data.
Two examples are the **Series.isnull()** method and **Series.notnull()** method. These can be used to select either rows that contain null (or NaN) values or rows that do not contain null values for a certain column.

In [49]:
f500["revenue_change"].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: revenue_change, dtype: bool

In [51]:
f500[f500['previous_rank'].notnull()].shape

(467, 18)

## The pandas library will align on index at every opportunity, no matter if our index labels are strings or integers - this makes working with data from different sources or working with data when we have removed, added, or reordered rows much easier than it would be otherwise.

In [53]:
previously_ranked = f500[f500["previous_rank"].notnull()]
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
print(rank_change.shape)

(467,)

In [54]:
rank_change

0       0.0
1       0.0
2       1.0
3      -1.0
4       3.0
       ...
490   -20.0
492   -89.0
496   -70.0
497   -61.0
498   -32.0
Length: 467, dtype: float64

In [55]:
f500["rank_change"] = rank_change
f500.tail(10)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
490,National Grid,491,22036,-3.2,10150.6,82310,160.2,John Pettigrew,Utilities,Energy,471.0,Britain,"London, Britain",http://www.nationalgrid.com,12,22132,25463,-20.0
491,Dollar General,492,21987,7.9,1251.1,11672,7.4,Todd J. Vasos,Specialty Retailers,Retailing,NaN,USA,"Goodlettsville, TN",http://www.dollargeneral.com,1,121000,5406,NaN
492,Telecom Italia,493,21941,-17.4,1999.4,74295,NaN,Flavio Cattaneo,Telecommunications,Telecommunications,404.0,Italy,"Milan, Italy",http://www.telecomitalia.com,18,61227,22366,-89.0
493,Xiamen ITG Holding Group,494,21930,34.3,35.6,12161,-25.1,Xu Xiaoxi,Trading,Wholesalers,NaN,China,"Xiamen, China",http://www.itgholding.com.cn,1,18454,1066,NaN
494,Xinjiang Guanghui Industry Investment,495,21919,31.1,251.8,31957,49.9,Shang Jiqiang,Trading,Wholesalers,NaN,China,"Urumqi, China",http://www.guanghui.com,1,65616,4563,NaN
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,NaN,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337,NaN
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427.0,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507,-70.0
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437.0,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111,-61.0
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467.0,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006,-32.0
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,NaN,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310,NaN

To recap, boolean arrays are created using any of the Python standard comparison operators: **==** (equal), **>** (greater than), **<** (less than), **!=** (not equal).

We combine boolean arrays using boolean operators. In Python, these boolean operators are **and**, **or**, and **not**. In pandas, the operators are slightly different:

![pandas-pic-3](https://raw.githubusercontent.com/tongNJ/Dataquest-Online-Courses-2022/main/Pictures/pandas-pic-3.PNG)

In [56]:
# Select all rows for companies whose country value is either Brazil or Venezuela. Assign the result to brazil_venezuela.
filter_brazil_venezuela = (f500["country"] == "Brazil") | (f500["country"] == "Venezuela")
brazil_venezuela = f500[filter_brazil_venezuela]
brazil_venezuela

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
74,Petrobras,75,81405,-16.3,-4838.0,246983,NaN,Pedro Pullen Parente,Petroleum Refining,Energy,58.0,Brazil,"Rio de Janeiro, Brazil",http://www.petrobras.com.br,23,68829,76779,-17.0
112,Itau Unibanco Holding,113,66876,21.4,6666.4,415972,-13.7,Candido Botelho Bracher,Banks: Commercial and Savings,Financials,159.0,Brazil,"Sao Paulo, Brazil",http://www.itau.com.br,4,94779,37680,46.0
150,Banco do Brasil,151,58093,-13.4,2013.8,426416,-52.3,Paulo Rogerio Caffarelli,Banks: Commercial and Savings,Financials,115.0,Brazil,"Brasilia, Brazil",http://www.bb.com.br,23,100622,26551,-36.0
153,Banco Bradesco,154,57443,31.3,5127.9,366418,-5.7,Luiz Carlos Trabuco Cappi,Banks: Commercial and Savings,Financials,209.0,Brazil,"Osasco, Brazil",http://www.bradesco.com.br,21,94541,32369,55.0
190,JBS,191,48825,-0.1,107.7,31605,-92.3,Wesley Mendonca Batista,Food Production,"Food, Beverages & Tobacco",185.0,Brazil,"Sao Paulo, Brazil",http://jbss.infoinvest.com.br,8,237061,7307,-6.0
369,Vale,370,29363,14.7,3982.0,99014,NaN,Fabio Schvartsman,"Mining, Crude-Oil Production",Energy,417.0,Brazil,"Rio de Janeiro, Brazil",http://www.vale.com,11,73062,39042,47.0
441,Mercantil Servicios Financieros,442,24403,50.3,2004.2,148659,-10.5,Gustavo J. Vollmer A.,Banks: Commercial and Savings,Financials,NaN,Venezuela,"Caracas, Venezuela",http://www.msf.com,1,8370,7550,NaN
486,Ultrapar Holdings,487,22167,-2.3,447.5,7426,-0.8,Thilo Mannhardt,Energy,Energy,474.0,Brazil,"Sao Paulo, Brazil",http://www.ultra.com.br,8,15173,2621,-13.0

In [60]:
# Select the first five companies in the Technology sector for which the country is not the USA from the f500 dataframe. Assign the result to tech_outside_usa.
filter_tech_outside_usa = (f500["sector"] == "Technology") & (f500["country"] != "USA")
tech_outside_usa = f500[filter_tech_outside_usa].head()
tech_outside_usa

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13.0,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376,-2.0
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476,-2.0
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79.0,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632,8.0
82,Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129.0,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159,46.0
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113.0,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415,8.0

## Tutorial challenges
Now it's time for a challenge to bring everything together! In this challenge we're going to add a new column to our dataframe, and then perform some aggregation using that new column.

The column we create is going to contain a metric called **return on assets (ROA)**. ROA is a business-specific metric which indicates a company's ability to make profit using their available assets.

**return on assets = profit / assets**

Once we've created the new column, we'll aggregate by sector, and find the company with the highest ROA from each sector. Like previous challenges, we'll provide some guidance in the hints, but try to complete it without them if you can.

Don't be discouraged if this challenge takes a few attempts to get correct. Working iteratively is a great way to work, and this challenge is more difficult than exercises you have previously completed.

In [67]:
f500['roa'] = f500['profits']/f500['assets']
f500

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change,roa
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798,0.0,0.068618
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,0.0,0.019540
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,1.0,0.004048
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,-1.0,0.003189
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0,0.038620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,NaN,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337,NaN,0.003542
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427.0,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507,-70.0,0.007394
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437.0,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111,-61.0,0.034944
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467.0,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006,-32.0,0.070887
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,NaN,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310,NaN,0.042793

In [68]:
sectors = f500['sector'].unique()
sectors

array(['Retailing', 'Energy', 'Motor Vehicles & Parts', 'Financials',
       'Technology', 'Wholesalers', 'Health Care', 'Telecommunications',
       'Engineering & Construction', 'Industrials', 'Food & Drug Stores',
       'Aerospace & Defense', 'Food, Beverages & Tobacco',
       'Household Products', 'Transportation', 'Materials', 'Chemicals',
       'Media', 'Apparel', 'Hotels, Restaurants & Leisure',
       'Business Services'], dtype=object)

In [99]:
top_roa_by_sector = {}
for s in sectors:
    highest_roa_by_sector = f500[f500['sector']==s].sort_values(by='roa',ascending=False)[['company','roa']].head(1)
    top_roa_by_sector[s] = [highest_roa_by_sector.iloc[0,0],'ROE = '+str(round(highest_roa_by_sector.iloc[0,1]*100,1))+'%']
top_roa_by_sector

{'Retailing': ['H & M Hennes & Mauritz', 'ROE = 20.5%'],
 'Energy': ['National Grid', 'ROE = 12.3%'],
 'Motor Vehicles & Parts': ['Subaru', 'ROE = 10.5%'],
 'Financials': ['Berkshire Hathaway', 'ROE = 3.9%'],
 'Technology': ['Accenture', 'ROE = 20.0%'],
 'Wholesalers': ['McKesson', 'ROE = 8.3%'],
 'Health Care': ['Gilead Sciences', 'ROE = 23.7%'],
 'Telecommunications': ['KDDI', 'ROE = 9.0%'],
 'Engineering & Construction': ['Pacific Construction Group', 'ROE = 6.6%'],
 'Industrials': ['3M', 'ROE = 15.3%'],
 'Food & Drug Stores': ['Publix Super Markets', 'ROE = 11.6%'],
 'Aerospace & Defense': ['Lockheed Martin', 'ROE = 11.1%'],
 'Food, Beverages & Tobacco': ['Philip Morris International', 'ROE = 18.9%'],
 'Household Products': ['Unilever', 'ROE = 9.6%'],
 'Transportation': ['Delta Air Lines', 'ROE = 8.5%'],
 'Materials': ['CRH', 'ROE = 4.1%'],
 'Chemicals': ['LyondellBasell Industries', 'ROE = 16.4%'],
 'Media': ['Disney', 'ROE = 10.2%'],
 'Apparel': ['Nike', 'ROE = 17.6%'],
 'Hotels, Restaurants & Leisure': ['McDonalds', 'ROE = 15.1%'],
 'Business Services': ['Adecco Group', 'ROE = 7.5%']}

In [86]:
f500[f500['sector']=='Retailing'].sort_values(by='roa',ascending=False)[['company','roa']].head(1)

                    company       roa
481  H & M Hennes & Mauritz  0.205252